/* ======================================================================== */
/* Others */

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #282b30;
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-rendering: optimizeLegibility;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  margin-bottom: 10px;
  font-weight: 700;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  margin-bottom: 15px;
}

p {
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

svg {
  width: 50px;
  height: 50px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #1e2124;
}

::-webkit-scrollbar-thumb {
  background: #282b30;
}


/* ======================================================================== */
/* Buttons */

button:focus { outline: none; }

button {
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9rem;
  border: none;
  padding: 12px;
  border-radius: 5px;
  color: #303339;
}

.btn-first {
  background-color: #faa61a;
}

.btn-first:disabled {
  background-color: #faa61a50;
  cursor: default;
}

.btn-second {
  background-color: #b9bbbe;
}

.btn-confirm {
  padding: 10px;
  border: 2px solid rgb(70, 190, 102);
  border-radius: 10px;
  background-color: #00000000;
  color: #fff;
  cursor: pointer;
}


/* ======================================================================== */
/* Tables */

table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 5px;
  background: #282b30;
}

tr:hover {
  background: #303339;
}

tr:hover td {
  color: #b9bbbe;
}

th,
td {
  padding: 5px 20px !important;
  height: 40px;
  color: #8e9297;
  text-align: left;
  border-bottom: 2px solid #ffffff10;
  border-collapse: collapse;
}

th {
  border: none;
  height: 50px;
  background: #303339;
  color: #b9bbbe;
  font-size: 1.1rem;
}

.tbtn {
  font-size: 0.7rem;
  cursor: pointer;
  background-color: #faa61a;
  color: #303339;
  font-weight: bold;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.tbtn-second {
  background-color: #b9bbbe;
}


/* ======================================================================== */
/* Labels and Inputs */

label {
  color: #8e9297;
  font-size: 0.95rem;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #303339;
  color: #b9bbbe;
  font-size: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* ============================ */
/* Input with prefix e.g. R$ */

.inputPrefix {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.inputPrefix span {
  position: absolute; 
  left: 0px; 
  top: 0px; 
  color: #b9bbbe; 
  padding: 14px;
}

.inputPrefix input { 
  padding-left: 45px;
  margin-bottom: 0;
}

.input-obs {
  margin-bottom: 4px;
}

.input-obs-span {
  margin-left: 4px;
  color: #8e9297;
  font-size: 0.85rem;
  margin-bottom: 20px;
}

/* ============================ */
/* Input with max lenght */
.inputMaxLength-input {
  margin-bottom: 4px;
}

.inputMaxLength-p {
  font-size: 0.95rem;
  text-align: right;
  margin: 0 0 10px 4px;
} 

textarea {
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #303339;
  color: #b9bbbe;
  resize: vertical;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

textarea:focus, input:focus{
  outline: none;
  border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #c4c5c7;
  -webkit-box-shadow: 0 0 0 30px #303339 inset !important;
  box-shadow: 0 0 0 30px #303339 inset !important;
  transition: background-color 5000s ease-in-out 0s;
  caret-color: #d7d8d9;
}


/* ======================================================================== */
/* Switch/Toggle */

.switch-wrap {
  display: flex;
}

.switch-wrap p {
  margin: 0;
}

#switch {
  background-color: #8e9297;
  width: 39px;
  height: 19px;
  /* width: 500px;
  height: 200px; */
  display: inline-block;
  border-radius: 200px;
  cursor: pointer;
  transition: background-color 0.5s;
  margin: 0 10px;
}

#switch::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  /* width: 190px;
  height: 190px; */
  background-color: white;
  border-radius: 50%;
  position: relative;
  left: 1px;
  transition: left 0.5s;
  top: 1px;
}

#switchcheckbox:checked + label {
  background-color: #faa61a;
}

#switchcheckbox:checked + label::before {
  left: 21px;
}


/* ======================================================================== */
/* Loading Page */

.loadingpage {
  position: fixed;
  z-index: 10;
  background-color: #1e2124c2;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
 }
  100% {
    transform: rotate(360deg);
 }
}

.loadingcircle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 0.4rem solid rgba(255, 255, 255, 0.2);
  border-top-color: #fff;
  animation: spin 1s infinite linear;
}


/* ======================================================================== */
/* Transitions */

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.3s ease-out;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}



/* ======================================================================== */
/* Toast Notification */

#toastzone {
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 5;
}

.toast {
  background: #43b581;
  margin-bottom: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  transition: all 0.5s;
  overflow: hidden;
  width: 300px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.toast-error {
  background: #f04747;
}

.toast.up {
  animation: toast 0.5s;
}

.toastClose {
  height: 0px;
  margin: 0;
  opacity: 0;
}

.toast p {
  margin: 0;
  color: #303339;
  font-weight: bold;
}

.toast svg {
  width: 25px;
  fill: #303339;
}

@keyframes toast {
  0% { transform: translateY(-100%); opacity: 0; }
}

/* ======================================================================== */
/* File Input */

.imgInput-wrap {
  border: 2px;
  border-color: #8e9297;
  border-radius: 5px;
  border-style: dashed;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgInput-nopreview {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  background-color: #303339;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgInput-preview-wrap {
  display: flex;
}

.imgInput-preview {
  min-height: 150px;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  position: relative;
  margin: 0 10px;
  overflow: hidden;
}

.imgInput-preview img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.imgInput-preview svg {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  background: #faa61a;
  color: #303339;
  border-bottom-left-radius: 5px;
  cursor: pointer;
}

.imgInput-msg {
  margin-top: 20px;
  color: #faa61a;
}

.btn-inputfile {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 20px;
}

.btn-inputfile svg {
  width: 25px;
  height: 25px;
  fill: #303339;
  margin-right: 10px;
}


/* ======================================================================== */
/* Others */

.hidden {
  display: none;
}